/**@media only screen and (max-width: 629px){}*/
h1{
	font-size: 36px;
	line-height: 40px;
	padding: 0 0 15px;
}
h2{
	text-align: center;
	font-size: 26px;
	line-height: 32px;
}
/*counter*/
.header-banner{
	padding: 10px 14px 0;
}
.counter-title{
	font-size: 12px;
	line-height: 14px;
	padding: 1px;
}
.header-banner .lovers-counter{
	font-size: 16px;
	line-height: 25px;
	padding: 0 0 0 6px;
}
.header-banner .lovers-counter.length-letters-12{ font-size: 17px; }
.header-banner .lovers-counter.length-letters-13{ font-size: 15px; }
.header-banner .lovers-counter.length-letters-14{ font-size: 13px; }
.counter-center{
	padding: 5px 5px 0;
}
.arrow-counter{
	width: 15px;
	height: 17px;
}
.counter-right{
	padding-top: 0;
}
.header-banner .lotto-lovers{
	max-width: 90px;
	font-size: 8px;
	line-height: 13px;
	height: 13px;
}
.header-banner [class*="btn-"]{
	font-size: 10px;
	line-height: 12px;
	padding: 6px 8px;
}
/*counter end*/
.header.fixed-position{
	position: fixed;
	top: 0;
	width: 100%;
}
.title-box-main h2{font-size: 46px;}
.title-box-main.ls-page h2{
	margin: 0;
	padding: 0;
}
.substrate-header{
	height: 50px;
}
.main {
	padding: 10px 0 15px;
}
.content-frame p:last-child{padding: 0;}

[class*="-list"].s5 > li{
	width: 33.3%;
}
[class*="-list"].s4 > li{
	width: 50.0%;
}
.how-works [class*="-list"].s4 > li{
	width: auto;
}
[class*="-list"].s3 > li{
	width: auto;
}
[class*="-list"].s2 > li{
	width: auto;
}
/*game numbers block*/
.lottery-results .align-left.indent{
	float: none;
	margin: 0 0 30px;
	text-align: center
}
/*game numbers block end*/

/*sections list*/
.feature-img{
	display: block;
	text-align: center;
	margin-right: 0;
	padding: 0 0 20px;
	width: auto;
}
.features-item h3{
	text-align: center;
}
.feature-description{
	display: block;
	margin-left: 0;
	width: auto;
}
/*sections list end*/
/*default table*/
.default-table tr{
	float: left;
	width: 100%;
	clear: both;
	border-right: 0;
	z-index: 0;
	letter-spacing: -4px;
}
.default-table thead{
	display: none;
}
.default-table.td1 td{
	width: 100%;
}
.default-table.td2 td{
	width: 50.0%;
}
.default-table.td3 td{
	width: 33.3%;
}
.default-table.td4 td{
	width: 25.0%;
}
.default-table.td5 td{
	width: 20.0%;
}
.default-table.td2-1 td:first-child + td{
	width: 66.6%;
}
.default-table.td2-1 td:first-child + td + td{
	width: 33.3%;
}
.default-table td{
	font-size: 14px;
	letter-spacing: normal;
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.default-table td > div:before{
	content: attr(data-label);
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: top;
	position: relative;
	font-size: 12px;
	white-space: normal;
}
.default-table tr.even td{
	background: #fff;
}
.default-table tr:first-child td:first-child{
	border-top: none;
}
.default-table th:first-child{
	text-align: left;
}
.default-table td:first-child > div{
	text-align: center;
	display: block;
	height: auto;
	margin: 0;
}
.default-table td > *{
	text-align: center;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	padding: 8px 4%;
}
.default-table tr td:first-child{
	background-color: #f9f9f9;
	display: block;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
.default-table td:last-child,
.default-table tr:first-child td:last-child,
.default-table tr td:last-child{
	display: block;
	text-align: center;
	width: 100%;
	border-top: 1px solid #d8d8d8;
}
.default-table .buttons-group{
	text-align: center;
	padding: 13px 1.2% 12px;
	width: auto;
	display: block;
	font-size: 0;
	letter-spacing: -4px;
}
.default-table .buttons-group > span{
	width: 50%;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.default-table .buttons-group a{
	margin: 0 auto;
	display: block;
}
.default-table .buttons-group span:first-child a{
	margin: 0 auto;
	min-width: 0;
}
.table-type-1-1 .td4 td{
	width: 40%;
}
.table-type-1-1 .td4 td.last-child{
	width: 100%;
}
.table-type-1-1 .td4 .locate-col{
	width: 40%;
	word-break: normal;
}
.table-type-1-1 .td4 .day-col{
	width: 20%;
}
.table-type-1-1 .td4 .winning-col{
	display: block;
	width: 100%;
}
.table-type-1-2 .default-table.td2 td {
	width: 100%;
	display: block;
}
.table-type-1-3 .td3 td{
	display: block;
	width: 100%;
}
.table-type-1-3 .td3 td.date-col + td,
.table-type-1-3 .td3 td.day-col{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.table-type-1-3 .td3 .day-col.no-day-icon {
	display: none;
}
.table-type-2-1 .td3 td{
	width: 50%;
}
.table-type-2-1 .td3 .locate-col{
	width: 40%;
}
.table-type-2-1 .td3 .game-logo-col{
	width: 60%;
}
.table-type-2-1 .td3 .jackpot{
	display: block;
	width: auto;
}
.table-type-3-1 .td4 .rating-col,
.table-type-3-1 .td4 .deposit-col{
	width: 33%;
}
.table-type-3-1 .td4 .offered-col{
	width: 33%;
}
.table-type-3-1 .td4 .promotion-col{
	width: 50%;
}
.table-type-7-1 .default-table .visual-col{
	width: 70%;
	display: inline-block;
}
.table-type-7-1 .lottery-ico > div{
	width: 45%;
}
.table-type-7-1 .lottery-ico > div .lottery-ico-wrapper{
	width: 55%;
}
.table-type-7-1 .default-table .jackpot,
.table-type-7-1 .default-table .date-col{
	width: 33.3%;
}
.checker-results .default-table.td3 td{
	width: 100%;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
.check-numbers .default-table.td3 td:first-child,
.check-numbers .default-table.td3 td:last-child {
	padding: 1.7% 0.7%;
}

.default-table.td5.ls-best-odds td,
.default-table.td5.ls-biggest-jackpots td {
	width: 50%;
}
.default-table.td5.ls-best-odds td.last-child,
.default-table.td5.ls-biggest-jackpots td.last-child {
	width: 100%;
}
.default-table.td5.ls-best-odds tr td:first-child,
.default-table.td5.ls-biggest-jackpots  tr td:first-child{
	width: 68%;
	display: inline-block;
	vertical-align: middle;
}
.default-table.td5.ls-best-odds tr td:first-child + td,
.default-table.td5.ls-biggest-jackpots  tr td:first-child + td{
	width: 32.0%;
	display: inline-block;
	vertical-align: middle;
	background: none;
}
/*default end*/

/* header */
/* header holder */
.header-holder{
	padding: 5px 0 5px;
	background-color: #fff;
	position: relative;
	z-index: 5;
	height: 40px;
}

/*button navigation*/
.btn-nav{
	width: 50px;
	height: 50px;
}
.btn-nav > span{
	margin: 6px 0 0 -8px;
}
.btn-nav > span,
.btn-nav > span:after,
.btn-nav > span:before{
	height: 2px;
	width: 18px;
}
.btn-nav > span:before{
	top: -14px;
}
.btn-nav > span:after{
	top: -7px;
}
.btn-nav.active > span{
	margin: -1px 0 0 -10px;
}
/*button navigation end*/

/*logo*/
.logo{
	height: 37px;
	margin: 2px 0 0 52px;
	padding: 0;
	width: 102px;
	-webkit-background-size: 100%;
	background-size: 100%;
}
/*logo end*/

.header-nav{
	position: relative;
	z-index: 6;
	margin-top: 0;
}

/*main navigation*/
.nav-holder{
	margin: 0 0 0 -1.3%;
	width: 225px;
	overflow: auto;
}
.nav-list{
	padding: 0;
	position: relative;
}
.nav-list > li > a,
.nav-list > li > strong > a{
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	padding: 12px 20px;
	min-height: 16px;
}
.nav-list > li.has-drop > a,
.nav-list > li.has-drop > strong > a{
	padding: 12px 40px 12px 20px;
}
.nav-list > li:first-child > a,
.nav-list > li:first-child > strong > a{
	padding-left: 40px;
}
.nav-list > li .icon-small-ic{
	left: 13px;
	top: 19px;
	width: 22px;
	height: 22px;
	background-position: -10px -2147px;
	margin-top: -10px; 
}
/*arrow drop*/
.arrow-drop::after{
	background-position:  -6px -291px;
	-webkit-background-size: 50px;
	background-size: 50px;
	position: absolute;
	right: 16px;
	top: 12px;
	width: 9px;
}
.arrow-drop, .arrow-drop.active{
	top: 0;
	right: 0;
	width: 42px;
	height: 42px;
}
a.active > .arrow-drop::after{
	background-position: -6px -318px;
	right: 12px;
	top: 16px;
	width: 15px;
}
/*arrow drop end*/

/*nav drop*/

/*corner for drop*/
.first-drop .corner-drop{
	display: none;
}
/*corner for drop end*/

/*drop list*/
.drop-list{
	font-size: 12px;
	line-height: 16px;
}
.drop-list li{
	padding: 0;
}
.drop-list a,
.second-drop .drop-list a{
	font-size: 12px;
	line-height: 16px;
	min-height: 16px;
	padding: 12px 20px;
}
.drop-list > li.has-drop > a{
	padding: 12px 20px;
}
/*drop list end*/

/*first drop list*/
.nav-list .first-drop-list > li > a{
	font-size: 12px;
	line-height: 16px;
	min-height: 16px;
	padding: 12px 20px;
}
.nav-list .first-drop-list > li.has-drop > a{
	padding: 12px 40px 12px 20px;
	position: relative;
}
/*first drop list end*/

/*second drop*/
.second-drop{
	display: none;
	width: auto;
	background: #2c79b6;
	border: none;
	position: relative;
	top: auto;
	left: auto;
}
.first-drop-list > li.active > .second-drop,
.first-drop-list > li:hover > .second-drop{
	top: auto;
	left: auto;
}
.second-drop > .holder{
	padding: 0;
	max-height: none;
	overflow: visible;
}
.second-drop .drop-list{
	float: none;
	width: auto;
}
.second-drop .drop-list li{
	padding: 0;
	position: relative;
}
.second-drop .drop-list a{
	background: #2c79b6;
	border-radius: 0;
}
.second-drop .drop-list li.has-drop > a{
	padding: 12px 20px;
}
/*second drop end*/
.third-drop .drop-list a {
	background: none repeat scroll 0 0 #3490da;
	color: #fff;
}
.third-drop .drop-list li.has-drop > a{
	padding: 12px 20px;
}
/*third drop end*/
/*nav drop end*/
/*main navigation end*/

/*user options*/
.user-options{
	top: -40px;
	right: 14px;
	width: auto;
	z-index: 4;
	height: auto;
	bottom: auto;
}
.user-options > li{
	float: left;
}
.user-options > li:first-child{
	border-radius: 6px 0 0 6px;
}
.user-options > li:last-child{
	border-radius: 0 6px 6px 0;
}
.user-options > li > a{
	font-size: 10px;
	line-height: 27px;
	padding: 0 6px;
}
.user-options > li.languages > a{
	padding: 8px 6px;
	line-height: 11px;
	min-height: 11px;
}
.user-options > li.has-drop:hover > a:after{
	content: none;
	display: none;
}
.user-options > li > a > .icon-flag-english{
	background-position: 0 0;
	height: 11px;
	width: 16px;
}
.user-options > li > a > .icon-flag-chinese{
	background-position: 0 -905px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > .icon-flag-arabic{
	background-position: 0 -1006px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > .icon-flag-french{
	background-position: 0 -1107px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > [class*="icon-"]{
	margin: 0;
}
.user-options-drop, .user-options > li:hover .user-options-drop{
	width: 225px;
	padding: 4px 0;
	top: 36px;
}
.user-options-drop:after{
	content: none;
	display: none;
}
.user-options-drop {
	right: -9px;
}
.header .languages-list{
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	background: #fff;
}
.languages-list a,
.languages-list li > span {
	color: #333;
}
.languages-list a:hover,
.languages-list li > span:hover {
	color: #fa3676;
}
.header .languages-list li{
	padding: 0;
}
.header .languages-list li a,
.header .languages-list li > span{
	display: block;
	padding: 10px 20px;
}
.header .languages-list li i.icon-flag-english{
	background-position: 0 -702px;
	height: 14px;
	width: 16px;
}
.header .languages-list li i.icon-flag-chinese{
	background-position: 0 -31px;
	height: 11px;
	width: 16px;
}
.header .languages-list li i.icon-flag-arabic{
	background-position: 0 -62px;
	height: 11px;
	width: 16px;
}
.header .languages-list li i.icon-flag-french{
	background-position: 0 -362px;
	height: 14px;
	width: 16px;
}
.header .languages-list li i{
	margin: 3px 0 0;
	padding-right: 20px;
}
.languages-list .active span:hover {
	color: #f83777;
}
/*user options end*/

/*user login*/
.user-options.user-login-list{
	position: absolute;
	bottom: 0;
	height: 40px;
	top: -45px;
	right: 6px;
	z-index: 10;
	width: auto;
}
.user-options.user-login-list > li > a, .user-options.user-login-list > li:first-child > a, .user-options.user-login-list > li:last-child > a{
	font-size: 11px;
	padding: 5px 4px 0;
}
.user-login-list > li > a img{
	width: 32px;
	height: 32px;
	border: 2px solid #edeff0;
	border-radius: 50%;
	vertical-align: middle;
}
.user-login-list > li > a .text-inner{
	position: relative;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 11px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.user-options.user-login-list > li > a .caret{
	margin-left: 6px;
}
.user-login-list .user-options-drop{
	margin: 0;
	padding: 0;
}
.user-login-list > li:hover .user-login-drop-box {
	top: auto;
}
.user-login-drop-box,
.user-options > li:hover .user-login-drop-box {
	padding: 0;
	top: 100%;
	width: auto;
}
.user-login-drop-box{
	display: none;
	top: auto;
}
.user-options > li:hover .user-login-drop-box {
	top: auto;
}
.user-login-list .user-options-drop:before,
.user-login-list .user-options-drop:after {
	content: none;
	display: none;
}
.user-login-list .user-options-drop ul:after {
	bottom: 100%;
	right: 56px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #f2f2f2;
	border-width: 10px;
	margin-left: -10px;
	margin-bottom: -1px;
}
.navbar-avatar img {
	width: 98px;
	height: 98px;
	border: 3px solid #edeff0;
	border-radius: 50%;
	margin: 0 0 5px;
}
.user-login-list .navbar-content {
	font-size: 12px;
	line-height: 14px;
	padding: 9px 18px 0;
	width: 315px;
}
/*user login end*/
/*header navigation end*/
/* header end */

/*contacts*/
.contacts .contacts-form{
	float: none;
	padding: 0 0 15px;
}
.contacts .contacts-form .form-holder{
	margin: 0;
}
.contacts .contacts-form textarea{
	height: 150px;
	min-height: 150px;
}
.connect-wrapper{
	display: block;
	float: none;
	margin: 0;
	width: 100%;
}
.contacts .social-list{padding: 0 0 25px;}
/*contacts end*/

/*login page*/
.login-box{
	width: auto;
}
.login-box > .holder{
	padding: 0 20px 22px;
}
.login-box .button-wrap [class*="btn-"]{
	padding-left: 6px;
	padding-right: 6px;
}
/*login page end*/

/*register page end*/
.simple h2{
	padding: 0 0 30px
}
.simple .register h2{
	text-align: center;
	padding: 0 0 45px;
}
.simple-content h3, .simple-text p{
	text-align: center;
	padding: 0 0 15px;
}
.register h2{
	text-align: center;
	padding: 15px 0 15px;
}
.register > .holder{
	padding: 0 20px 22px;
}
.register .button-wrap [class*="btn-"]{
	padding-left: 6px;
	padding-right: 6px;
}
/*register page end*/

/*rbc states page*/
.default-table.td3.rbc-states td{
	width: 50%;
}
.default-table.td3.rbc-states td{
	width: 50%;
}
.default-table.td3.rbc-states td.winning-col{
	width: 100%;
}
.default-table.td3.rbc-states td[colspan="2"]{
	width: 100%;
}
/*rbc states page end*/

/*rbc past results*/
.default-table.td3.rbc-pr td{
	width: 100%;
}
.features-game dt{
	float:none;
	font-weight: 700;
}
/*rbc past results end*/

/*online lotteries review*/
.default-table.td3.rbc-pr td{
	width: 100%;
}
.features-game dt{
	float:none;
	font-weight: 700;
}
.betting .compare-item-img{
	width: 30%;
}
.betting .compare-item-descr{
	width: 70%;
}
/*online lotteries review end*/

/*the lotter*/
.our-rating, .play-option, .complains-field{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.lottery-options .tab-controls-list{
	float: none;
}
.lottery-options .tab-controls-list li:first-child a{
	border-radius: 5px 5px 0 0;
}
.lottery-options .tab-controls-list li:last-child a{
	border-radius: 0;
	border-bottom: none;
}
.lottery-options .tabs{
	border-radius: 0 0 5px 5px;
	border: 1px solid #e0e0e0;
}
.pros-cons .col{
	width: 100%;
	float: none;
}
/*the lotter end*/

/*rbc states megamillions*/
.default-table.td2.rbc-state-mm td{
	width: 100%;
}
.selects-area.rbc-state-mm .form-row.row-full > .w1,
.selects-area .form-row.row-full > .w1{
	width: 90%;
}
.selects-area .form-row.row-full > .w1{
	width: auto;
}
.check-numbers h2{
	width: 100%;
}
.numbers-list li{
	padding: 0 14px 10px 0;
}
/*rbc states megamillions end*/

/*rbc lottery jackpots*/
.main-heading p{
	margin: 0;
}
/*rbc lottery jackpots end*/

/*number generator*/
.s3[class*="-list"].tight > li{
	width: 100%;
}
/*number generator end*/

/*generated numbers*/
.generated-numbers .select-holder.w100{
	width: 100px;
}
.from-to-box.to{
	padding: 8px 0 5px 50px;
}
/*generated numbers end*/

/*number checkers*/
.numcheck-nav-bar .float-right-block{
	float: none;
	width: 100%;
	clear: both;
	padding: 10px 0 0;
}
.numcheck-nav-bar .float-right-block input#s1{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
}
#sort-list .my-lotteries-list li{
	width: 100%;
}
.number-checker-form .form-buttons.gn-hecker .btn-frame-blue-large{
	margin: 10px 0 20px
}
.number-checker-form .form-buttons.gn-hecker .btn-frame-blue-large:active{
	background: #1d7ab2;
}
.number-checker-form .form-buttons [class*="btn-"]{
	margin: 0 0 20px;
}
/*number checkers end*/

/*mm number checker*/
.lottery-numbers.lgst-size li{
	padding: 5px 10px 5px 0;
}
.lottery-numbers.lgst-size li:nth-child(5){
	padding: 5px 0;
}
.lgst-size .lottery-ball{
	height: 48px;
	line-height: 48px;
	width: 48px;
}
.lottery-numbers.lgst-size{
	padding: 0 0 10px;
}
.box.days-types ul{
	float: none;
	margin: 0 8px 20px 0;
}
.box.days-types ul li.group-title{
	display: block;
	padding: 0 0 15px;
}
.box.days-types ul li{
	padding: 0 8px 15px 0;
}
.lottery-numbers.lgst-size li:nth-child(5n){
	padding: 5px 10px 5px 0;
}
.lottery-numbers.lgst-size li:last-child{
	padding: 5px 0;
}
/*mm number checker end*/

/*mm numbers*/
.default-table.td3.game-nmber td{
	width: 100%
}
/*mm numbers end*/

/*national game*/
.default-table.td2.national-game td{
	width: 100%;
}
/*national game end*/

/*lotto magazine*/
.mag-main-heading .h1-box{
	margin: 0;
}
.mag-intro-nav-bar{
	margin: 10px 0;
	width: 100%;
}
.news-box .news-previews-list .news-img{
	padding: 0 18px 0 0
}
.news-box.mag-news-box .news-previews-list .news-img a{
	margin: 0 0 10px 0;
	float: none;
}
.news-box .news-previews-list .news-content > span{
	margin-top: 2px;
}
.post-page-art-ad-info h3{
	padding: 0 0 8px;
}
.post-page-art-ad-info h3{
	padding: 0 0 3px;
}
.post-page-art-ad-info h3{
	padding: 0;
}
.mag-news-block-s1 img{
	margin: 0 15px 0 0;
}
.mag-news-block-s1 a{
	font-size: 14px;
	line-height: 1.6;
}
.h2-box{
	width: auto;
}
.h2-box h2{
	text-align: left;
	padding: 10px 0;
	font-size: 40px
}
.mag-md-intro-article{
	width: 100%
}
.mag-md-intro-article.right{
	width: 100%
}
.mag-md-intro-article:nth-child(2) > .post-page-art-ad-info,
.mag-md-intro-article:nth-child(2) + .copy2 > .post-page-art-ad-info{
	padding-left: 0;
}
.pagination{
	padding: 0;
	text-align: center;
}
.lottery-jackpots + .pagination{
	padding-top: 14px;
}
.news-intro-img {
	float: none;
	max-width: none;
	padding: 0 0 10px;
}
.news-intro-img img{
	margin: 0 0 10px;
}
.wrap-news-item{
	padding: 0 0 20px;
}
.wrap-news-item .news-intro-img img{
	margin: 0;
}
.last-news-box ul.news-previews-list li {
	width: 100%;
	margin: 10px 0;
}
/*lotto magazine end*/

/*rbc state pr*/
.my-lotteries-item{
	padding-bottom: 15px;
}
.my-lotteries-item [class|="articklecat"], .my-lotteries-item [class*=" articklecat-"]{
	top: 0;
}
.next-jackpot b, .next-jackpot strong, .next-jackpot span{
	display: block;
	padding: 0 0 10px
}
/*rbc state pr end*/

/*rbc usa*/
/*rbc usa end*/
.checker-results .default-table.td3 td.game-col, 
.checker-results .default-table.td3 td.lottery-numbers-col, 
.checker-results .default-table.td3 td.lottery-balls-col{
	width: 100%;	
}
/*lotto signals*/
.members-only-note i{
	width: 290px;
}
.members-only-note{
	padding-top: 80px;
}
.members-only-note i{
	background-position: 0 -180px;
}
.container .title-box.tagged h2{
	padding: 10px 0 10px 20px;
} 
.container .title-box.tagged.forum-page h2{
	padding: 10px 0 10px 0;
} 
/*lotto signals end*/

.main-heading-lg h1{
	padding: 0 0 15px;
	text-align: center;
	font-size: 32px;
}
.article-text h2{
	text-align: center;
}
.article-text p{
	text-align: justify;
}
.main-heading-lg{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 40px;
}
.main-heading p{
	text-align: justify;
}
.sub-img{
	width: 110px;
	height: 110px;
}
.article .article-box{
	padding: 0;
}
.article-alt .sub-img{
	right: -10px;
}
.large-counter {
	margin-bottom: 15px;
}
/*large counter*/
.large-counter h2{
	font-size: 28px;
	line-height: 38px;
}
.large-counter .counter{
	font-size: 70px;
	line-height: 80px;
}
.joined-us{
	font-size: 28px;
	line-height: 38px;
}
/*large counter end*/

/*intro*/
.intro{
	padding-bottom: 30px;
	background-size: auto 240px;
}
.video-box{
	min-width: 0;
	min-height: 200px;
}
.video-box h2{
	padding: 30px 0 13px;
	margin: 0 20px;
}
.intro-content{
	text-align: center;
}
.intro-content h2{
	font-size: 30px;
	line-height: 36px;
}
.container .title-box h2{
	text-align: left;
}
/*intro end*/

/*main slider*/
.main-slider{
	padding: 0 0 40px;
}
.slider-list .slide-item{
	height: 250px;
}
.slider-list .slide-img{
	height: 100%;
}
.bx-wrapper img{
	height: 100%;
}
.slide-item .jackpot-large{
	font-size: 30px;
	line-height: 40px;
	margin: 0 0 7px;
}
.slide-item .time-draw{
	font-size: 14px;
	line-height: 18px;
	max-width: none;
	position: static;
	right: auto;
	top: auto;
}
.slide-item .signals > span{
	max-width: 170px;
}
.slide-item .signals{
	margin: 0 0 1px;
	padding: 0 0 0 65px;
}
.slide-item .time-draw{
	margin: 0 0 6px;
}
.slide-item .odds{
	font-size: 18px;
	line-height: 24px;
	position: static;
	left: auto;
	bottom: auto;
}
.slide-item .slide-buttons{
	width: auto;
	text-align: center;
}
.slide-item .btn-icons{
	min-width: 0;
	margin: 0 0 8px;
	padding: 6px;
}
.slide-item .share-list{
	width: auto;
	text-align: center;
}
.slide-item .share-list li{
	width: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.share-list a{
	padding: 5px 4px 26px;
	min-width: 100px;
}
/*main slider end*/

/*how work slider*/
#how-work-pager a{
	font-size: 12px;
	padding: 0 0 2px;
}
#how-work-pager span.separator{
	margin: 0 1px;
	font-size: 10px;
}
.how-work-slider .slide-wrap .slide-text{
	font-size: 15px;
}
.how-work-slider h2{
	font-size: 40px;
}
/*how work slider end*/

/*checker form*/
.form-holder{
	margin: 0;
}
.checker{
	margin-left: 0;
	border-radius: 6px;
}
.checker-form .form-box{
	float: none;
	width: auto;
}
.checker-form .form-box .form-line {
	padding-right: 0;
}
/*checker form end*/

/*news box*/
.news-box .news-large .news-img{
	padding: 0 0 10px;
}
.news-box .news-large .news-content h3{
	font-size: 20px;
	line-height: 24px;
	padding: 0 0 10px;
}
.news-box .news-previews-list .published{
	padding: 6px 0 0;
	display: block;
}
.news-box .news-previews-list li {
	padding-bottom: 20px;
}
.news-box .news-previews-list .news-img{
	padding-right: 0;
}
/*news box end*/

/*resources*/
.resources-list.s5 li{
	width: 50%;
}
/*resources end*/


/*sidebar*/
.main .sidebar{
	margin: 0;
}
.main .sidebar-frame{
	border: none;
	border-radius: 0 0 4px 4px;
}
.main .sidebar .widget-group{
	float: none;
	width: auto;
	padding: 0;
}
.main .sidebar .widget:after{
	content: none;
	display: none;
}
.main .sidebar .widget{
	padding: 11px 14px 15px;
}
.main .sidebar .widget h3 + *{
	display: block;
	width: auto;
}
.main .sidebar .widget-wrapper h3{
	position: static;
	padding: 0 0 18px;
}
/*sidebar end*/

/*footer*/
.footer{
	position: relative;
	clear: both;
	z-index: 4;
}
.footer-holder{
	margin: 0;
}
.footer-frame{
	display: block;
}
.footer-box,
.footer-box:first-child,
.footer-box:last-child{
	text-align: center;
	display: block;
	width: 100%;
}
.footer-logo{
	margin-left: 11px;
}
.footer-nav-list li{
	display: inline-block;
	padding-bottom: 18px;
}
.partners-list li{
	display: inline-block;
	vertical-align: middle;
	padding: 10px 12px 20px;
	margin: 0;
}
.footer .social-list{
	text-align: center;
}
.footer .social-list li{
	display: inline-block;
	vertical-align: middle;
	padding: 0 9px 18px;
}
.copyright{
	display: block;
	text-align: center;
}
/*footer end*/

/*chaban temp*/
.container{
	padding-bottom: 20px;
}
.sidebar-frame, .two-sidebars .sidebar-frame{
	padding-top: 0;
}
.states-select select{
	width: 100%;
}
.container .title-box .datepickers{
	float: none;
	margin: 0;
	padding: 10px 0 0;
}
.container .title-box .datepickers .form-line{
	padding: 0;
	float: none;
	width: auto;
}
.popup-default-wrap{width: 300px;}
.all-data{
	width: 290px;
	padding: 20px 0;
}
.my-lotteries-list li{padding: 0 0 20px;}
.second-heading{padding: 10px 20px;}
.second-heading h2{text-align: left;}
.recent-news-content h4{padding: 0 0 5px}
.table-type-7-1 td.day-col,
.table-type-7-1 .even td.day-col,
.ls-best-odds td.day-col, 
.ls-best-odds .even td.day-col, 
.ls-biggest-jackpots td.day-col, 
.ls-biggest-jackpots .even td.day-col{width: 25%;}
.nav-list > .has-drop:first-child .first-drop{margin: 0;}
.nav-list > .has-drop:first-child > a.active{background: #1c4f77;}

/*chaban temp end*/

.checker-form .form-row > .w1, .checker-form [class*="game-template-"] .w1,
.checker-form .form-row > .w2, .checker-form [class*="game-template-"] .w2,
.checker-form .form-row > .w3, .checker-form [class*="game-template-"] .w3 {
	float: none;
	width: auto;
}

/* serg 2015.04.10 */
.checker-form .form-row .form-line,
.checker-form .form-row .input-append {
	margin-right: 0;
}
.checker-form .selects-area .form-row .form-line,
.checker-form .selects-area .form-row .input-append {
	margin-right: 30px;
}
.selects-area .form-row {
	padding-right: 0;
}
.check-numbers .form-buttons {
	width: auto;
	margin-right: 30px;
}
.selects-area .select-item .add-game {
	right: 20px;
}
.selects-area .select-item .w1 .add-game {
	right: 0;
}

.lottery-results .align-left.img-holder{
	float: none;
	margin-right: 0;
	margin-bottom: 10px;
}
.lottery-results .resume{
	padding-bottom: 10px;
}

.breadcrumbs-list li {
	padding: 0 0 10px 3px;
}

.checker-form .form-holder {
	margin-right: 0;
}

.game-contacts dl {
	float: none;
	width: 100%;
	padding: 0 0 10px;
}
.game-contacts {
	overflow: visible;
	padding: 15px 0;
}
.scrollable .viewport .overview {
	width: 100%;
}
.game-contacts-add dt ,
.game-contacts-add dd {
	float: none;
	overflow: visible;
	width: 100%;
	padding: 0 0 5px;
}
.game-contacts-add dd {
	padding: 0 0 15px;
}

.player-review-content .likes{
	width: auto;
	margin: 0;
	padding: 0;
	float: none;
	text-align: left;
}

.postpage-artadinfo {
	clear: none;
}
.recent-news-item .recent-news-content.postpage-recent-news-content{
	overflow: hidden;
}

.container .title-box.alt-title .datepickers {
	float: none;
	padding: 0 0 15px;
	width: auto;
}
.container .alt-title.tagged .alt-title-holder {
	padding: 0;
}
.container .alt-title .alt-title-holder h2{
	padding: 0;
	overflow: hidden;
}
.add-lottery-inner.add-lottery-wrapper{
	padding: 15px 0 0;
	display: block;
	text-align: center;
}
.forum-page .add-lottery-inner.add-lottery-wrapper{
	padding: 0;
}
.container .title-box.tagged h2 i {
	margin: 0 8px 0 0;
	float: left;
}
.container .alt-title.tagged {
	padding: 10px;
}
.manager-list.s5 > li {
	width: 50%;
}
.manager-list.short .options-cover {
	padding: 10px;
}
.options-cover [class*="btn-"] {
	padding: 13px 6px;
}
.add-lottery-drop > .holder {
	padding: 10px;
}
.manager-item .add-lottery-drop.position-left {
	left: 0;
	margin-left: -53px;
}
.manager-item .add-lottery-drop.position-left > .holder::before {
	left: 61px;
	margin-left: 0;
}
.manager-item .add-lottery-drop.position-right {
	margin-right: -53px;
}
.manager-item .add-lottery-drop.position-right > .holder::before {
	right: 62px;
}
.scrollpanel {
	height: 200px;
}

/*forum page*/
.footer-lang button.cselect {
	min-width: 150px;
	margin: 10px auto 30px;
}
/*forum page end*/

/*forum profile*/
.forum-profile h2{
	text-align: left;
}
/*forum profile end*/

/*forum my-lotto*/
.forum-profile [class*="-list"].s3 > li{
	width: 50%;
}
.options-cover [class*="btn-"]{
	padding: 4px 6px;
}
 
.forum-profile .manager-list.short .options-cover a{
	margin: 0 0 5px;
}
.forum-profile .manager-list.short li:nth-child(odd) .options-cover .edit-subscription-drop{
	left: 0;
	margin-left: 0;
}
.forum-profile .manager-list.short li:nth-child(even) .options-cover .edit-subscription-drop{
	left: auto;
	right: 0;
	margin-left: 0;
}

.forum-profile .manager-list.short li:nth-child(odd) .options-cover .edit-subscription-drop > .holder:before{
	left: 20%;
	margin-left: 0;
}
.forum-profile .manager-list.short li:nth-child(even) .options-cover .edit-subscription-drop > .holder:before{
	left: auto;
	right: 20%;
	margin-left: 0;
}
/*forum my-lotto end*/