/**@media only screen and (max-width: 767px){}*/

/*header*/
/*counter*/
.counter-title{
	font-size: 24px;
	line-height: 28px;
}
.header-banner .lovers-counter{
	font-size: 44px;
	line-height: 48px;
	padding: 0 0 0 8px;
}
.header-banner .lovers-counter.length-letters-12{ font-size: 40px; }
.header-banner .lovers-counter.length-letters-13{ font-size: 36px; }
.header-banner .lovers-counter.length-letters-14{ font-size: 32px; }
.header-banner .lotto-lovers{
	max-width: 165px;
	font-size: 17px;
	line-height: 21px;
	height: 21px;
}
.counter-center{
	padding: 8px 6px 0;
}
.arrow-counter{
	width: 29px;
	height: 33px;
}
.counter-right{
	padding-top: 6px;
}
.header-banner [class*="btn-"]{
	font-size: 18px;
	line-height: 20px;
	padding: 8px 10px;
}
/*counter*/
.header.fixed-position{
	position: fixed;
	top: 0;
	width: 100%;
	/*z-index: 999;*/
}
.substrate-header{
	height: 100px;
}
.max-wrap{
	padding: 0;
}
.header-holder{
	padding: 0;
	height: 100px;
	background: #1e5799 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYTM2NzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0180b2 0%, #f83777 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0180b2), color-stop(100%, #f83777));
	background: -webkit-linear-gradient(left, #0180b2 0%, #f83777 100%);
	background: -o-linear-gradient(left, #0180b2 0%, #f83777 100%);
	background: -ms-linear-gradient(left, #0180b2 0%, #f83777 100%);
	background: linear-gradient(to right, #0180b2 0%, #f83777 100%);
}
/*button navigation*/
.btn-nav{
	display: block;
}
/*button navigation end*/

/*logo*/
.logo{
	background: url(../img/logo-footer.png) no-repeat 100% 100%;
	-webkit-background-size: cover;
	background-size: cover;
	width: 201px;
	height: 72px;
	margin: 15px 0 0 112px;
	padding: 0;
}
.logo:hover{
	opacity: 1;
}
/*logo end*/

/*main navigation*/
.header-nav{
	border: none;
	background: none;
}
.nav-holder{
	display: none;
	position: absolute;
	left: 0;
	right: auto;
	top: 0;
	margin: 0 0 0 -1.3%;
	padding: 0;
	background: #1c4f77;
	width: 435px;
	z-index: 10000;
	overflow: auto;
}
.nav-list{
	padding: 0;
	position: relative;
	display: block;
	width: auto;
}
.nav-list > li{
	display: block;
	float: none;
	font-size: 18px;
	font-weight: 700;
	width: 100%;
}
.nav-list > li:after{
	content: '';
	display: block;
	clear: both;
}
.nav-list > li > strong{
	text-align: left;
}
.nav-list > li > a,
.nav-list > li > strong > a{
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	padding: 25px;
	min-height: 22px;
	background: #1c4f77;
}
.nav-list > li:hover > a,
.nav-list > li:hover > strong > a{
	background: rgba(0, 0, 0, 0.11);
}
.nav-list > li.has-drop > a,
.nav-list > li.has-drop > strong > a{
	padding: 25px 72px 25px 25px;
}
.nav-list > li:first-child > a,
.nav-list > li:first-child > strong > a{
	padding-left: 73px;
	background: #1c4f77;
}
.nav-list > li .icon-small-ic{
	background-position: -7px -2189px;
	height: 33px;
	left: 23px;
	margin-top: -16px;
	top: 50%;
	width: 33px;
}
/*arrow drop*/
.has-drop .arrow-drop{
	display: block;
}
.arrow-drop,
.arrow-drop.active{
	position: absolute;
	right: 12px;
	top: 16px;
	width: 48px;
	height: 48px;
	background: none;
	cursor: pointer;
	z-index: 15;
}
.arrow-drop:after{
	content: "";
	position: absolute;
	top: 12px;
	right: 16px;
	width: 15px;
	height: 24px;
	background: url(../img/sprite-arrows.png) no-repeat -10px -514px;
}
a.active > .arrow-drop:after{
	width: 24px;
	height: 15px;
	top: 16px;
	right: 12px;
	background-position: -10px -560px;
}
/*arrow drop end*/

/*nav drop*/
/*first level drop*/
.nav .first-drop{
	position: relative;
	left: 0;
	margin: 0;
	min-width: 0;
	top: auto;
	opacity: 1;
	display: none;
}
.nav .first-drop .drop-holder{
	width: auto;
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
}
.nav-list > li:hover .first-drop{
	top: 100%;
	opacity: 1;
}
/*first level drop end*/

/*corner for drop*/
.first-drop .corner-drop{
	display: none;
}
/*corner for drop end*/

/*drop list*/
.drop-list{
	font: 22px/29px 'nunito', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.drop-list li{
	padding: 0;
}
.drop-list a,
.second-drop .drop-list a{
	display: block;
	margin: 0;
	background: #1f5c8b;
	color: #fff;
	font: 22px/29px 'nunito', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	min-height: 29px;
	padding: 25px;
	border-right: 0;
} 
.drop-list > li.has-drop > a{
	padding: 25px 62px 25px 25px;
	color: #fff;
}
.drop-list > li:hover > a{
	color: #fff;
}
/*drop list end*/

/*first drop list*/
.nav-list .first-drop-list{
	border-right: none;
	display: block;
	vertical-align: top;
	width: auto;
}
.nav-list .first-drop-list > li{
	border: none;
	position: relative;
}
.nav-list .first-drop-list > li > a{
	background: #1f5c8b;
	display: block;
	margin: 0;
	color: #fff;
	font: 22px/29px 'nunito', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	min-height: 29px;
	padding: 25px;
	border-right: 0;
}
.nav-list .first-drop-list > li.has-drop > a{
	padding: 25px 72px 25px 25px;
}
.nav-list .first-drop-list > li.has-drop:hover > a:after,
.first-drop-list > li.has-drop.active > a:after{
	content: none;
	display: none;
}
.nav-list .first-drop-list > li:hover > a,
.first-drop-list > li.active > a{
	background: #1f5c8b;
}
.nav-list > li:hover > a,
.nav-list > li:hover > strong > a{
	background: none;
}
/*first drop list end*/

/*second drop*/
.second-drop{
	display: none;
	width: auto;
	background: #2c79b6;
	border: none;
	position: relative;
	top: auto;
	left: auto;
}
.first-drop-list > li.active > .second-drop,
.first-drop-list > li:hover > .second-drop{
	top: auto;
	left: auto;
}
.second-drop > .holder{
	padding: 0;
	max-height: none;
	overflow: visible;
}
.second-drop .drop-list{
	float: none;
	width: auto;
}
.second-drop .drop-list li{
	padding: 0;
	position: relative;
}
.second-drop .drop-list a{
	background: #2c79b6;
	border-radius: 0;
}
.second-drop .drop-list li:hover > a,
.second-drop .drop-list li.active > a,
.large-drop .second-drop .drop-list li.active > a,
.large-drop .second-drop .drop-list li.active:hover > a{
	color: #fff;
	background: #2c79b6;
}
.second-drop .drop-list li.has-drop > a{
	padding: 25px 72px 25px 25px;
}
/*second drop end*/

/*drop boxes*/
.drop-boxes{
	z-index: 2;
}
.drop-boxes .drop-holder > *:first-child{
	float: none;
}
.hide-device{
	display: none;
}

/*drop narrow*/
.drop-narrow{
	padding: 0;
	min-width: 0;
}
/*drop narrow end*/

/*third drop*/
.third-drop{
	display: none;
	width: auto;
	background: #3490da;
	border: none;
	position: relative;
	top: auto;
	left: auto;
}
.first-drop-list > li.active .second-drop .drop-list > li.active .third-drop{
	display: none;
}
.third-drop > .title{
	display: none;
}
.third-drop .drop-list{
	padding: 0;
	max-height: none;
	overflow: visible;
}
.third-drop .drop-list li{
	padding: 0;
}
.third-drop .drop-list a{
	color: #fff;
	background: #3490da;
}
.third-drop .drop-list li:hover > a,
.third-drop .drop-list li.active > a{
	color: #fff;
	background: #3490da;
}
.third-drop .drop-list li.has-drop > a{
	padding: 25px 72px 25px 25px;
}
/*third drop end*/
/*nav drop end*/
/*main navigation end*/

/*user options*/
.user-options{
	bottom: 20px;
	right: 16px;
	width: auto;
	z-index: 4;
	height: auto;
}
.user-options > li{
	float: left;
}
.user-options > li, .user-options > li:first-child{
	border-color: #6f274d;
}
.user-options > li:first-child{
	border-radius: 6px 0 0 6px;
}
.user-options > li:last-child{
	border-radius: 0 6px 6px 0;
}
.user-options > li > a{
	font-size: 18px;
	line-height: 24px;
	padding: 14px;
	color: #fff;
}
.user-options > li > a:hover{
	color: #fff;
}
.user-options > li.languages > a{
	padding: 12px;
	z-index: 0;
}
.user-options > li.has-drop:hover > a:after{
	content: none;
	display: none;
}
.user-options > li > a > .icon-flag-english{
	background-position: 0 -804px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > .icon-flag-chinese{
	background-position: 0 -905px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > .icon-flag-arabic{
	background-position: 0 -1006px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > .icon-flag-french{
	background-position: 0 -1107px;
	width: 32px;
	height: 25px;
}
.user-options > li > a > [class*="icon-"]{
	margin: 3px 0 0;
}
.user-options-drop{
	width: 344px;
	padding: 20px 0 0;
	right: -15px;
	margin: 0;
	opacity: 1;
	top: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}
.user-options-drop:after{
	content: '';
	position: absolute;
	top: 1px;
	right: 25px;
	background: url(../img/sprite-arrows.png) no-repeat -10px -596px;
	height: 22px;
	width: 36px;
}
.header .languages-list{
	font-size: 26px;
	line-height: 36px;
	border: 2px solid #e0e0e0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29);
	padding: 26px 0;
}
.header .languages-list li{
	padding: 16px 24px;
}
.header .languages-list li i.icon-flag-english{
	background-position: 0 -849px;
	width: 48px;
	height: 36px;
}
.header .languages-list li i.icon-flag-chinese{
	background-position: 0 -950px;
	width: 48px;
	height: 36px;
}
.header .languages-list li i.icon-flag-arabic{
	background-position: 0 -1051px;
	width: 48px;
	height: 36px;
}
.header .languages-list li i.icon-flag-french{
	background-position: 0 -1152px;
	width: 48px;
	height: 36px;
}
.header .languages-list li i{
	margin: 0;
	padding-right: 32px;
}
/*user options end*/

/*user login*/
.user-login-list{
	top: auto;
	bottom: 15px;
	right: 15px;
	width: auto;
	z-index: 6;
	height: 100px;
}
.user-login-list > li > a {
	padding: 21px 14px 14px 10px;
}
.caret {
	margin-left: 15px;
	border-top: 8px solid;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.user-login-list > li > a img {
	width: 62px;
	height: 62px;
	border-width: 3px;
}
.user-login-list .user-options-drop{
	margin-top: -20px;
	right: 0;
}
.user-login-list .user-options-drop:after,
.user-login-list .user-options-drop:before {
	bottom: 100%;
	right: 65px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin: 0 0 -21px;
	background: none;
}

.user-login-list .user-options-drop:after {
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #f2f2f2;
	border-width: 20px;
	margin-left: -20px;
}
.user-login-list .user-options-drop:before {
	border-color: rgba(224, 224, 224, 0);
	border-bottom-color: #e0e0e0;
	border-width: 21px;
	margin-left: -21px;
}
.user-options > li:hover > a,
.user-options > li.active > a,
.user-options > li > a.active{
	color: #fff;
}
.user-options > li:hover > a.active{
	background: rgba(0, 0, 0, 0.25);
}
.user-options > li:hover > a{
	background: rgba(0, 0, 0, 0.25);
}
/*
.user-options > li:hover > a{
	background: none;
}
*/
/*user login end*/
/*header end*/

/*main blocks*/
.content-wrap{
	float: none;
}
.content-wrap .content,
.toggle-sidebars .content,
.toggle-sidebars .content-frame,
.two-sidebars .content .content-frame{
	margin: 0;
}
.content .content-holder{
	float: none;
}
.content .content-advance .aside{
	display: none;
}
.two-sidebars .left-aside-visible .aside{
	margin: 0;
	width: 100%;
	display: block;
}
.two-sidebars .left-aside-visible .content-holder{
	float: none;
	margin: 0;
	width: auto;
}
.two-sidebars .left-aside-visible .content-frame{
	float: left;
	width: 100%;
	margin-left: 0;
}
.logotype-top{
	float: none;
	width: auto;
	margin: 0;
}
.logotype-top .logotype-lottery-img {
	text-align: left;
}
.aside.has-logotype{
	padding-top: 0;
}

.numbers-info-title {
	text-align: left;
}
.sidebar,
.two-sidebars .sidebar{
	float: none;
	display: block;
	width: auto;
	overflow: hidden;
	margin: 0;
}
.sidebar-frame,
.two-sidebars .sidebar-frame{
	border: none;
	padding: 20px 0 15px;
}
.sidebar .widget-group,
.two-sidebars .sidebar .widget-group{
	float: left;
	width: 100%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget-group .widget,
.two-sidebars .widget-group .widget{
	position: relative;
	padding-top: 10px;
	padding-right: 0;
}
.widget-group .widget:first-child,
.two-sidebars .widget-group .widget:first-child{
	padding-top: 0;
}
.sidebar .widget:after{
	content: '';
	display: inline-block;
	display: -moz-inline-stack;
	height: 100%;
	vertical-align: bottom;
	margin-left: -4px;
}
.sidebar .widget h3 + *{
	display: inline-block;
	width: 98%;
	vertical-align: bottom;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sidebar .widget-wrapper h3{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	max-height: 19px;
	padding: 11px 14px 18px;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.max-wrap{
	padding: 0;
}
.header .max-wrap{
	padding: 0;
}
.footer .max-wrap{
	padding: 0 15px;
}
/*.max-wrap{
	padding: 0 3%;
}
.header .max-wrap{
	padding: 0 1.25%;
}*/
/*main blocks end*/

/*contacts*/
.container.contacts-box{
	padding: 0;
}
.contacts .contacts-form{
	float: none;
	padding: 0;
}
.contacts .contacts-form .form-holder{
	margin-right: 0;
}
.contacts .contacts-form textarea{
	height: 171px;
	min-height: 171px;
}
.connect-wrapper{
	display: block;
	float: none;
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
}
/*contacts end*/

/*simple*/
.simple-holder{
	padding: 25px 17px;
}
.simple h2{
	font-size: 30px;
	line-height: 34px;
}
.simple-list li{
	padding-bottom: 30px;
}
.simple-item{
	font-size: 18px;
	line-height: 24px;
}
/*simple end*/

/*register*/
.register{
	width: auto;
}
.register > .holder{
	padding: 25px 10% 50px;
}
/*simple list*/
/*simple list end*/
/*register end*/

/*Post Page*/
.postpage-contentframe{
	margin: 0
}
.postpage-aside{
	width: 100%;
	margin:0;
}
.postpage-banner-1{
	width: 100%;
}
.postpage-comtext{
	width: 70%;
	float: right;
	margin: 0;
}
.postpage-comlikebar{
	margin: 10px;
}
.postpage-comment{
	margin: 0;
}
.postpage-aside .aside-widget > img{display:none}

.postpage-aside .aside-widget{
	display: block;
}
.social-sharing a{
	clear: none;
	display: inline-block;
	margin: 0 5px 20px 0;
}
.social-sharing a.share-twitter{
	margin: 0 0 10px 0;
}
.postpage-recent-news-img a img{
	margin: 0 15px 10px 0;
}
.postpage-artadinfo{
	clear: both;
}
/*Post Page end*/

/*Game Numbers Checker*/
.lottery-numbers-wrapper{
	margin: 10px 0 0;
}
/*Game Numbers Checker end*/

/*Game Number Page*/
.lottery-results .align-left.indent{
	margin: 0 0 20px;
	float: none;
	text-align: left;
}
.lottery-numbers.lgst-size li:nth-child(5){
	padding: 5px 20px 5px 0
}
/*Game Number Page end*/

/*Online Lotteries Review*/
.betting [class*="-list"].s3 > li{
	width: 100%;
}
.betting .compare-item-img{
	width: 16%;
	margin-right: 0;
}
.betting .compare-item-descr{
	width: 84%;
}
/*Online Lotteries Review end*/

/*Lotto Magazine*/
.mag-intro-img, .news-intro-img img{
	float: none;
	width: auto;
	max-width: 100%;
	margin: 0;
}
.mag-intro-article,
.mag-news-block-s2,
.mag-news-block-s1{
	float: none;
	width: 100%;
}
.news-intro-img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sm-news-content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mag-news-block-s1{
	margin: 0;
}
.last-news-box ul.news-previews-list li{
	width: 48%;
}
/*Lotto Magazine end*/

/*forum page*/
.tabs-menu-list{
	display: block;
}
.tabs-menu-list li{
	display: block;
	border-width: 1px 1px 0 1px;
	border-left: 1px solid #e0e0e0;
} 
.tabs-menu-list li:first-child, .tabs-menu-list li:first-child a {
    border-radius: 6px 6px 0 0;
}
.tabs-menu-list li:last-child, .tabs-menu-list li:last-child a {
    border-radius: 0 0 6px 6px;
}
.tabs-menu-list li:last-child{
	display: block;
	border-width: 1px 1px 1px 1px;
}
.manager-list.s5 > li {
	width: 25%;
}
.user-options > li, .user-options > li:first-child, .user-options.user-login-list > li > a, .user-options.user-login-list > li:first-child > a{
	border-color: #6f274d;
}
.user-options.user-login-list{
	height: 70px;
}
/*forum page end*/

/*forum profile*/
.content .forum-profile .aside{
	display: block;
	float: none;
}
/*forum profile end*/

/*forum my-lotto*/

/*forum my-lotto end*/

/*news box*/
.sidebar, .two-sidebars .sidebar{
	width:100%
}
.news-box.mag-news-box .s3[class*="-list"] > li{
	width: 100%;
}
.news-box .news-previews-list .news-img a{
	float: left;
	margin: 0 0 10px 0;
}
.news-box .news-previews-list.main-page .news-img a{
	float: left;
	margin: 0 0 0 0;
}
.news-box .news-previews-list.mag-single .news-content{
	clear: none;
}
.container .title-box.alt-title.forum-page .datepickers{
	padding-bottom: 0;
}
/*
.news-box .news-previews-list.main-page .news-content{
	clear: left;
}
*/
/*news box end*/

/*rating panel*/
.rating-panel{
	border: none;
}
.rating-holder{
	display: block;
}
.rating-item{
	display: block;
	padding: 19px 1.5% 5px;
	border: 1px solid #e0e0e0;
	border-top: none;
}
.our-rating,
.play-option,
.complains-field{
	width: auto;
	text-align: center;
}
.complains-field{
	padding-bottom: 30px;
}
.rating-item:first-child{
	border: 1px solid #e0e0e0;
}

/*our rating*/
.rating-item h4{
	font-size: 22px;
	line-height: 26px;
}
.likes{
	font-size: 22px;
	padding: 0 0 15px;
}
/*our rating end*/

/*play option*/
.play-options-list{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
/*play option end*/

/*complains field*/
.complain-label{
	padding: 10px 0;
}
.complain-label a{
	font-size: 16px;
	line-height: 20px;
}
/*complains field end*/
/*rating panel end*/

/*player reviews*/
.player-review-content .likes > div{
	float: none;
	padding: 0 0 15px;
	display: block;
}
/*player reviews end*/

/*generated numbers*/
.generated-numbers .select-holder.w100 {
	width: 232px;
}
.from-to-box {
	width: 100px;
}
/*generated numbers end*/

/*selects area*/
.checker-form .view-game-holder .w2,
.checker-form .view-game-holder .w3,
.selects-area [class*="game-template-"] .w1,
.selects-area [class*="game-template-"] .w2{
	float: none;
	position: static;
	width: 100%;
}
.selects-area .select-item .add-game {
	left: auto;
	position: absolute;
	right: 20px;
	top: 5px;
}
.one-game .select-item .add-game {
	left: auto;
	right: -20px;
}
/*selects area end*/

/*how work slider*/
#how-work-pager a{
	font-size: 20px;
}
/*how work slider end*/

/*logotype lottery*/
.content-frame .logotype-lottery{
	display: block;
}
/*logotype lottery end*/

/*table*/
.table-type-1-2 .default-table.t2 td{
	width: 100%;
	display: block;
}
.checker-results .default-table.td3 td{
	width: 100%;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
.check-numbers .default-table.td3 td:first-child,
.check-numbers .default-table.td3 td:last-child {
	padding: 1.7% 0.7%;
}
/*table end*/

/*footer*/
.footer-holder{
	padding: 21px 0 0;
}
.footer-box{
	text-align: right;
}
.footer-box:first-child{
	width: 34%;
}
.footer-nav{
	text-align: center;
}
.footer-social{
	width: 17%;
}
.copyright{
	padding-left: 0;
}
/*footer end*/

/*back to top*/
.back-to-top{
	width: 50px;
	height: 50px;
}
/*back to top end*/