.max-wrap:before,
.max-wrap:after,

.main:before,
.main:after,

.main-holder:before,
.main-holder:after,

.input-holder:before,
.input-holder:after,

.nav-list:before,
.nav-list:after,

.intro:before,
.intro:after,

.news-box:before,
.news-box:after,

.checker-form:before,
.checker-form:after,

.title-box:before,
.title-box:after,

.content-advance:before,
.content-advance:after,

.form-row:before,
.form-row:after,

.add-selects-list:before,
.add-selects-list:after,

.numbers-list:before,
.numbers-list:after,

.form-line:before,
.form-line:after,

.main-heading:before,
.main-heading:after,

.lottery-options:before,
.lottery-options:after,

.review-form:before,
.review-form:after,

.rating:before,
.rating:after,

.choose-cards-list:before,
.choose-cards-list:after,

.contacts:before,
.contacts:after,

.generated-numbers .line:before,
.generated-numbers .line:after,

.numbers-radio-list li:before,
.numbers-radio-list li:after,

.sidebar-frame:before,
.sidebar-frame:after,

.lottery-numbers-wrapper:before,
.lottery-numbers-wrapper:after,

.form-holder:before,
.form-holder:after,

.login-option:before,
.login-option:after,

.login-form:before,
.login-form:after,

.article:before,
.article:after,

.number-checker-form:before,
.number-checker-form:after,

.box.days-types:before,
.box.days-types:after,

.news-previews-item:before,
.news-previews-item:after,

.meta:before,
.meta:after,

.lottery-numbers:before,
.lottery-numbers:after,

.lottery-balls:before,
.lottery-balls:after,

.alt-title-holder:before,
.alt-title-holder:after,

.navbar-content:before,
.navbar-content:after,

.row:before,
.row:after,

.panel-body:before,
.panel-body:after,

.filters:before,
.filters:after,

.last-news-box:before,
.last-news-box:after,

.news-previews-list:before,
.news-previews-list:after,

.mag-news-block-s2:before,
.mag-news-block-s2:after,

.wrap-news-item:before,
.wrap-news-item:after,

.post-page-art-ad-info:before,
.post-page-art-ad-info:after,

.container-holder:before,
.container-holder:after,

.send-form:before,
.send-form:after,

.nav-tabs:before,
.nav-tabs:after
{
	content: "";
	display: table;
}

.max-wrap:after,
.main:after,
.main-holder:after,
.input-holder:after,
.nav-list:after,
.intro:after,
.news-box:after,
.checker-form:after,
.title-box:after,
.content-advance:after,
.form-row:after,
.add-selects-list:after,
.numbers-list:after,
.form-line:after,
.main-heading:after,
.lottery-options:after,
.review-form:after,
.rating:after,
.choose-cards-list:after,
.generated-numbers  .line:after,
.numbers-radio-list li:after,
.sidebar-frame:after,
.lottery-numbers-wrapper:after,
.filters:after,
.last-news-box:after,
.contacts:after,
.form-holder:after,
.login-option:after,
.login-form:after,
.article:after,
.number-checker-form:after,
.box.days-types:after,
.news-previews-item:after,
.meta:after,
.lottery-numbers:after,
.lottery-balls:after,
.alt-title-holder:after,
.navbar-content:after,
.row:after,
.panel-body:after,
.filters:after,
.news-previews-list:after,
.mag-news-block-s2:after,
.wrap-news-item:after,
.post-page-art-ad-info:after,
.container-holder:after,
.send-form:after,
.nav-tabs:after
{
	clear: both;
}

.max-wrap,
.main,
.main-holder,
.input-holder,
.nav-list,
.intro,
.news-box,
.checker-form,
.title-box,
.content-advance,
.form-row,
.add-selects-list,
.numbers-list,
.form-line,
.main-heading,
.lottery-options,
.review-form,
.rating,
.choose-cards-list,
.generated-numbers .line,
.numbers-radio-list li,
.sidebar-frame,
.lottery-numbers-wrapper,
.filters,
.last-news-box,
.contacts,
.form-holder,
.login-option,
.article,
.number-checker-form,
.box.days-types,
.news-previews-item,
.meta,
.lottery-numbers,
.lottery-balls,
.alt-title-holder,
.navbar-content,
.row,
.panel-body,
.panel-body,
.filters,
.news-previews-list,
.mag-news-block-s2,
.wrap-news-item,
.post-page-art-ad-info,
.container-holder,
.send-form,
.nav-tabs
{
	zoom: 1;
}